{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 


<!DOCTYPE html>
<html>
<body style="background-color: gold">

<br>
<br>
<p style="font-size: 30px;margin-left: 150px;color: red">You have entered WRONG details...please try again!  </p>
<br>

<br>
<br>
<p style="font-size: 25px;margin-left: 260px">To sign in again,,</p>
<div class="navbar">
	 
	<form method="POST" action="/runhome">
						<input type="submit"  style="font-size: 30px;margin-left: 250px" value="Click here!">

	</form>
</div>



<body>
<html>


{% include "footer.html" %} 

{% endblock %}