{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 

<!DOCTYPE html>
<html>
<body style="background-color: lightblue">


<br>
<p style="font-size: 30px;"> Welcome shoppers!!!!...</p>
(this is the first page)

<br>
<br>
<div class="navbar">
	 
	<form method="POST" action="/sign_in">
						<input type="submit"  style="font-size: 30px;margin-left: 150px" value="sign_in">

	</form>
</div>


<br>
<br>

<div class="navbar">
	
	<form method="POST" action="/sign_up">
						<input style="font-size: 30px;margin-left: 150px" type="submit" value="sign_up">

	</form>
</div>



<body>
<html>

{% include "footer.html" %}

{% endblock %}