


<br>
<br>
<br>
<br>
<br>
<br>

<p style="font-size: 25px;background-color: chocolate;text-align: center;">This is the end of the page..  ....</p>
<p style="text-align: right;">contact us , enjoy shopping</p>
<p style="text-align: right;">terms and conditions apply</p>

<br>
<div class="navbar">
	
	<form method="POST" action="/add_item">
						<input style="font-size: 15px;margin-left: 1150px" type="submit" value="ADD an ITEM">

	</form>
</div>
<br>
<div class="navbar">
	 
	<form method="POST" action="/">
						<input type="submit"  style="font-size: 15px;margin-left: 1150px" value="Home(index)">

	</form>
</div>
<br>

<br>
<br>
<br>
