{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 


<!DOCTYPE html>
<html>
<body style="background-color: gold">

<br>
<br>
<p style="font-size: 20px;margin-left: 150px">This is the log_out page...  </p>
<br>
<br>


<p style="font-size: 30px;margin-left: 250px"> You have successfully logged out....</p>
<br>
<br>
<br>
<p style="font-size: 25px;margin-left: 260px">To sing in again,,</p>
<div class="navbar">
	 
	<form method="POST" action="/runhome">
						<input type="submit"  style="font-size: 30px;margin-left: 250px" value="Click here!">

	</form>
</div>



<body>
<html>


{% include "footer.html" %} 

{% endblock %}