{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 
<!DOCTYPE html>
<html>
<body style="background-color: green;text-align: center;">

<p style="font-size: 40px;text-align: left;">This is the sign up page...  </p>




<h1>Please fill out the details and signup</h1>
<form method="POST" action="/form_details">
	<h1>Enter your name:</h1>
                      <input type="text" name="first_name"><br>
                      <h1>Enter your username:</h1>
                      <br>
                      <input type="text" name="second_name">
                      <h1>enter your area:</h1>
                      <br>
                      <input type="text" name="location">
                      <h1>Enter your password:</h1>
                      <input type="text" name="password"><br>
                      <br>
                      <input type="submit" style="font-size: 20px" value="SIGN UP!! and go to login page">
</form>




<body>
<html>


{% include "footer.html" %}


{% endblock %}