{% extends 'header.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
 



<!DOCTYPE html>
<html>
<body style="background-color: #b0c4de">

<div style="background-image: url('static/imgasgn/airus.jpg');" >
<br>
 
<div class="navbar">
	 
	<form method="POST" action="/logout">
						<input type="submit"  style="font-size: 20px;margin-left: 1200px" value="LOG OUT">

	</form>
</div>

<h1 style="text-align: center;">





<br>
Hello {{ name }}, you are on the home page, you are ID no {{ acc_no }}


</h1>

<br>
<a href="{{ url_for('elec', acc_no=acc_no ) }}" class="btn btn-success btn-sm pull-right" style="color:green;font-size: 25px">
	<button style="background-color: gold;margin-left: 400px;font-size: 20px;color: black">ELECTRONICS	</button>
</a>
<a href="{{ url_for('non_elec', acc_no=acc_no ) }}" class="btn btn-success btn-sm pull-right" style="color:green;font-size: 25px">
	<button style="background-color: gold;margin-left: 600px;font-size: 20px;color: black">DAILY ESSENTIALS	</button>
</a>
<br>

<br>

<br>



<br>
<br>
<p style="font-size:60px;margin-left: 190px;">Choose our products....</p>

<img src="static/imge.jpg" width="200" height="240" style="margin-left: 400px" >
<pre style="font-size: 30px;margin-left: 400px;font-style: bold;">Beer rs.195</pre>
<a href="{{ url_for('non_elec', acc_no=acc_no ) }}" class="btn btn-success btn-sm pull-right" style="color:green;font-size: 25px">
	<button style="background-color: green;margin-left: 420px;font-size: 20px">BUY NOW!!	</button>
</a>


<br>
<br>


<body>
<html>


{% include "footer.html" %}


{% endblock %}